<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}<title>Kevin Manase's Blog</title>{% endblock %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     {% load staticfiles %}
    <link href="{% static '../static/css/jumbotron-narrow.css' %}" rel="stylesheet">
    <style>
        #id_honeypot {
        display: none;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'new' %}">New Post</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">Kevin Manase's Blog</h3>
    </div>
    {% block content %}
    <h1>This is an example title</h1>
    <p>This is an example paragraph.</p>
    {% endblock %}
    {% block footer %}<footer><p align="center">Kevin Manase 2014 | MyBlog</p></footer>{% endblock %}
</div>
</body>
</html>