<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kevin Manase's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% load staticfiles %}
    <link href="{% static '../static/css/jumbotron-narrow.css' %}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'new' %}">New Post</a></li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted">Kevin Manase's Blog</h3>
    </div>

    <div class="jumbotron">
        <h1>Bienvenue</h1>
        <p class="lead">My name is Kevin as y'all know already and this is my blog. Tryna get myself into Django and Python.</p>
    </div>

    <h1><span class="glyphicon glyphicon-list"></span>&nbsp;Recent Posts</h1>
    {% if latest_blog_list %}
    <ul>
        {% for myblog in latest_blog_list %}
        <h2 style="text-align:left;float:left"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;{{ myblog.title }}</h2>
        <h5 style="text-align:right;float:right;margin-top:30px">{{ myblog.pub_date }}</h5>
        <hr style="clear:both"/>
        <p>{{ myblog.body }}</p>
        <br>
        <p><a class="btn btn-primary" role="button" href="{% url 'more' myblog.id %}">Read more</a></p>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    <br><br><br><br>
    <footer>Footer 2014. Footer 2014. Footer 2014. Footer 2014. :D :D ;D</footer>
</div>
</body>
</html>
