{% extends "myblog/base.html" %}
        {% block content %}
    {% if user.is_authenticated %}
        <h1><span class="glyphicon glyphicon-plus"></span>&nbsp;New Post</h1>
        <p class="bg-info" style="padding:10px;">You will be posting as {{ user.username }}.</p>
        <form class="form-horizontal" role="form" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Text</label>
                {{ form.body }}
            </div>
            <div style="margin-left:105px;">
                <input type="hidden" name="next" value="{% url 'index' %}" />
                <button type="submit" class="btn btn-default">Add Blog Post</button>
            </div>
        </form>
    {% else %}
        <h3>Error</h3>
        <p>You are not logged in</p>
    {% endif %}
        {% endblock %}
